name: klogger-ci

permissions:
  contents: write

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
    inputs:
      VERSION:
        required: true

jobs:
  build-test:
    runs-on: ubuntu-latest
    env:
      CMAKE_BUILD_TYPE: Release

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y cmake build-essential lcov

      - name: Configure CMake
        run: |
          cmake -S . -B build-coverage \
            -DKLOGGER_ENABLE_COVERAGE=ON \
            -DKLOGGER_VERSION=${{ github.event.inputs.VERSION || '2026-b1' }}

      - name: Build
        run: cmake --build build-coverage -- -j$(nproc)

      - name: Run tests
        run: ctest --test-dir build-coverage --output-on-failure

      - name: Generate coverage report
        run: cmake --build build-coverage --target coverage || true

      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: build-coverage/coverage-report

  publish:
    runs-on: ubuntu-latest
    needs: build-test
    if: github.event_name == 'workflow_dispatch'

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y cmake build-essential

      - name: Configure CMake
        run: cmake -S . -B build-publish -DKLOGGER_VERSION=${{ inputs.VERSION }}

      - name: Build library
        run: cmake --build build-publish --target klogger -- -j$(nproc)

      - name: Package library
        run: |
          mkdir -p klogger-pkg/include/klogger

          cp -r include/klogger/* klogger-pkg/include/klogger/
          cp build-publish/libklogger.a klogger-pkg/klogger.a

      - name: Upload
        uses: IdanKoblik/Changelog@prod
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          version: ${{ inputs.VERSION }}
          assets: '["./klogger-pkg/klogger.a"]'
